body {
    font-family: 'Montserrat', sans-serif;
    color: #74B1BE;
    background-color: #2F3241;
}

section {
    width: 70%;
    margin: auto;
}

#container {
    display: inline-block;
}

.form-control {
    font-size: 12px;
}

.form-group {
    padding-top: 6px;
}

label {
    font-size: 14px;
}